ul.multiselector-selection {
    margin: 15px 0px 15px 0px;
}

input.multiselector-input {
}

li.multiselector-selected-item {
    width: auto;
}

.multiselector-results {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 0px #000000;
    overflow-y: scroll;
}

.dropdown-menu > li > a {
    white-space: normal !important;
}

a.multiselector-list-item.highlight {
    background-color: #F5F5F5 !important;
}

a.multiselector-list-item {
    margin-left: 15px;
}

span.multiselector-list-item-name {
}

span.multiselector-list-item-metadata {
    color: gray;
    float: right;
}

a.multiselector-list-item.selected  {
    color: gray !important;
}

a.multiselector-list-item.disabled {
    color: gray !important;
}

ul {
    list-style-type: none;
}

li.multiselector-selected-item {
    float: left;
    margin-right: 10px;
}

button.show-all.active {
    background-color: #428BCA;
}

li.multiselector-selected-item.selected {
    color: green;
}

.hidden {
    display: none;
}

.contact li {
}

.group li {
}
